{% extends 'base.html.twig' %}

{% block title %}Genres de jeu vidéo{% endblock %}

{% block breadcrumb %}
    {{ knp_menu_render(breadcrumb) }}
{% endblock %}


{% block body %}
    <h1>Genres de jeu vidéo</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Actif</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for genre in genres %}
            <tr>
                <td>{{ genre.id }}</td>
                <td>{{ genre.nom }}</td>
                <td>{{ genre.description }}</td>
                <td>{{ genre.actif ? 'Oui' : 'Non' }}</td>
                <td>
                    <a href="{{ path('app_genre_show', {'id': genre.id}) }}">Consulter</a>
                    <a href="{{ path('app_genre_edit', {'id': genre.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Pas de genre trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_genre_new') }}">Ajouter un genre</a>
{% endblock %}
