{% extends 'base.html.twig' %}

{% block title %}Editeurs de jeu vidéo{% endblock %}

{% block breadcrumb %}
    {{ knp_menu_render(breadcrumb) }}
{% endblock %}


{% block body %}
    <h1>Editeurs de jeu vidéo</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Pays</th>
                <th>Site Web</th>
                <th>Description</th>
                <th>Créer le</th>
                <th>Mis à jour le</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for editeur in editeurs %}
            <tr>
                <td>{{ editeur.id }}</td>
                <td>{{ editeur.nom }}</td>
                <td>{{ editeur.pays }}</td>
                <td>{{ editeur.siteWeb }}</td>
                <td>{{ editeur.description }}</td>
                <td>{{ editeur.createdAt ? editeur.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ editeur.updateAt ? editeur.updateAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_editeur_show', {'id': editeur.id}) }}">Consulter</a>
                    <a href="{{ path('app_editeur_edit', {'id': editeur.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Pas d'éditeur trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_editeur_new') }}">Ajouter un editeur</a>
{% endblock %}
