{% extends 'base.html.twig' %}

{% block title %}Editeur{% endblock %}

{% block breadcrumb %}
    {{ knp_menu_render(breadcrumb) }}
{% endblock %}

{% block body %}
    <h1>Editeur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ editeur.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ editeur.nom }}</td>
            </tr>
            <tr>
                <th>Pays</th>
                <td>{{ editeur.pays }}</td>
            </tr>
            <tr>
                <th>SiteWeb</th>
                <td>{{ editeur.siteWeb }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ editeur.description }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ editeur.createdAt ? editeur.createdAt|date('d/m/Y') : '' }}</td>
            </tr>
            <tr>
                <th>UpdateAt</th>
                <td>{{ editeur.updateAt ? editeur.updateAt|date('d/m/Y') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <div class="page-actions">
        <a class="btn btn-secondary" href="{{ path('app_editeur_index') }}">Retourner à la liste</a>
        <a class="btn btn-primary" href="{{ path('app_editeur_edit', {'id': editeur.id}) }}">Modifier</a>
        {{ include('editeur/_delete_form.html.twig') }}
    </div>
{% endblock %}
