<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ project_name }}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('css/button.css') }}">
    {% endblock %}
</head>
<body>
    <header id="app-header">
        <h1>Mon Projet Symfony - Gestion des Jeux Vidéo</h1>
    </header>
    
    <nav id="main-menu">
        {% if knp_menu_render('main') is not empty %}
            {{ knp_menu_render('main') }}
        {% else %}
            <p>Menu en cours de construction...</p>
        {% endif %}
    </nav>

    <main>
        <section>
            <h2>Informations du binôme</h2>
            <ul>
                {% for student in students %}
                    <li>{{ student.firstname }} {{ student.lastname }}</li>
                {% endfor %}
            </ul>
            <p><strong>Groupe de TP :</strong> {{ group }}</p>
        </section>

    </main>
    
    <footer>
        <p>&copy; {{ "now"|date("Y") }} - {{ project_name }}</p>
    </footer>
</body>
</html>
